body {
    background: url(../images/shagy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: .5em;
    color: #eee;
    text-shadow: 2px 4px 10px rgba(0,0,0,0.3);
    max-width: 1920px;
    height: auto;

    
    
}

.border {
    border: solid 1px black;
    display: inline-block;
}

.container {
    height: auto; 
    text-align: left;
    margin-left: 100px;
    padding: 1em;    
    letter-spacing: 0.1em;
    line-height: 2em;
    font-size: 1.2em;
}

.guessed {
color: #6be;
text-transform: uppercase;    
}
